.displayAllJobs{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.displayAllJobs__Container{
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #fff;
    height: 200px !important;
    margin-left: 40px;
    padding: 40px;
    border-radius: 7px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-right: 41px;
}
.displayAllJobs__Container:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: 300ms ease-in-out all;
}
.header__container{
    display: grid;
    align-items: center;
    line-height: 1.5;
    grid-template-columns: auto 1fr;
    align-items: center;
    -webkit-box-align: center;
    min-height: 60px;
    height: 70px;
    border-bottom: 1px solid lightgray;
}
.firstCharacter__company{
    display: grid;
    height: 60px;
    width: 60px;
    place-items: center;
    text-transform: uppercase;
    background-color: #2cb1bc;
    color: #fff;
    border-radius: 50%;
    font-size: 22px;
}
.jobs__info{
    display: grid;
    margin-left: 20px;
}
.jobs__content{
    display: grid;
    padding: 1rem 1.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr auto;
}
.locationIcon, .dateIcon,.jobType{
    display: flex;
    margin-top: 0.5rem;
    -webkit-box-align: center;
    align-items: center;
}
.textSpan{
    text-transform: capitalize;
    color: rgb(52, 51, 51);
    font-weight: 400;
    line-height: 1.75;
    margin-left: 5px;
}
.iconSpan{
    font-size: 1rem;
    margin-right: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #2cb1bc;
}
.buttonContainer{
    align-items: center;
    justify-content:center;
    margin: 5px;
    margin-left: 20px;
}
.editLink{
    text-decoration: none;
}
.editButton{
    margin-right: .5rem;
    cursor: pointer;
    height: 30px;
    color: #fff;
    background-color: #2cb1bc;
    text-decoration: none;
    padding: .375rem 0.75rem;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
}
.editButton:hover {
    background-color: #0e7c86;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: 300ms ease-in-out all;
  }
.deleteButton{
    cursor: pointer;
    height: 30px;
    color: #fff;
    background-color: #D0342C;
    padding: .375rem 0.75rem;
    border: none;
    outline: none;
    letter-spacing: 1px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
}
.deleteButton:hover {
    background-color: #842029;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: 300ms ease-in-out all;
  }
.Status{
    background-color: #2cb1bc;
    margin: auto;
    padding:3px 3px 3px 0;
    color: rgb(52, 51, 51);
    align-items: center;
    text-align: center;
    background: rgb(252, 239, 199);
    border-radius: 7px;
}

@media only screen and (max-width:990px){
    .displayAllJobs__Container{
      height: 230px !important;
      width: 370px !important;
      margin-left: 20px;
    }
    .iconSpan{
        margin-left: -1rem ;
        margin-right: 5px;
    }
    .pendingStatus{
        margin-left: -1rem;
    }
    .buttonContainer{
        margin-left: 5px;
    }
}